name: Update JioTV M3U

on:
  schedule:
    - cron: "*/20 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Generate M3U
        env:
          ALLJIO: ${{ secrets.ALLJIO }}
        run: python generate_m3u.py

      - name: Commit changes
        run: |
          git config user.name "github-bot"
          git config user.email "bot@github.com"
          git add jiotv.m3u
          git commit -m "Auto update jiotv.m3u" || echo "No changes"
          git push
